extends layout

block content

    if errors
        ul
            each error in errors
                li= error

    form(action="/signup" method="POST" class='form-inline pr-4' )
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="userName") User Name
        input(type="text" name="userName" value=user.userName )
        label(for='email') Email
        input(type="email" name='email' value=user.email )
        label(for='password') Password
        input(type="password" name='password' value=user.password )
        label(for='confirmPassword') Confirm Password
        input(type="password" name='confirmPassword' value='' )
        button(type='submit') Submit
