extends layout

block content
    if errors
        div(class='errorsContainer' id="signUpErrorDiv")
            p Issues:
                ul
                    each error in errors
                        li= error
    h1(id='sign-up-title') Sign Up Here!
    form(action="/signup" method="POST" class='sign-up-form' )
        input(type="hidden" name="_csrf" value=csrfToken)
        input(class='sign-up-input' type="text" name="userName" placeholder='User Name' value=user.userName )
        input(class='sign-up-input' type="email" name='email' placeholder='Email' value=user.email )
        input(class='sign-up-input' type="password" name='password' placeholder='Password' value=user.password )
        input(class='sign-up-input' type="password" name='confirmPassword' placeholder='Confirm Password' value='' )
        button(id='sign-button' type='submit') Sign Up!
